{% block app_content %}
     <table class="table table-info shadow-sm p-3 mb-5 bg-body rounded">
        <tr valign="top">
            <td width="70px">
                 <a href="{{ url_for('user', username=task.author.username) }}">
                    <img class="rounded float-start" src="{{ task.author.avatar(70) }}" />
                </a>
            <td>
                <a class="text-decoration-none link-secondary"
                        href="{{ url_for('user', username=task.author.username) }}">
                    {{ task.author.username }}
                </a>
                said {{ moment(task.timestamp).fromNow() }}:
            <br>
            <p class="font-weight-bold">
                {{ task.body }}
            </p>
            </td>
        </tr>
    </table>
    <hr>
{% endblock %}