{% extends "base.html" %}

{% block app_content  %}
    <h1 class="display-2">Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.task.label(class="h2") }}<br>
            {{ form.task(class="form-control", rows="3") }}<br>
            {% for error in form.task.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
    {% endif %}
    <hr>
    <p class="text-center h2">POSTS</p>
    {% for task in tasks %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 pager">
            <li class="text-decoration-none link-secondary previous{% if not prev_url %} disabled{% endif %}">
                <a class="nav-link" href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="text-decoration-none link-secondary next{% if not next_url %} disabled{% endif %}">
                <a class="nav-link" href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
